extends layout

block content
    div.p-3
        h2 Thank you for your feedback!
     
    form(action="karte") 
        div.w-100.p-3
            input.btn-success.btn.btn-lg(type="submit", value="Back to the map")
