doctype html
html
  head
    title Sports for video games vouchers
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/bootstrap-4.3.1-dist/css/bootstrap.min.css')
    script(src='/javascripts/jquery-3.3.1.slim.min.js') 
    script(src='/bootstrap-4.3.1-dist/js/bootstrap.bundle.min.js') 
    script(src='/javascripts/function.js')
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
  body.p-0.m-0(style="width:100%")
    div(style="width:100%")
      nav(class="navbar navbar-dark bg-dark" ) 
        div.p-0.m-0.text-light Sports for video games vouchers
        div.nav.navbar-nav.navbar-right
          a.text-muted(href="/impressum") Impressum
      block content
    