extends layout-pc

block content
    div.p-3
        h2 Login
        form(action="karteadmin")
            div.w-100.pt-3
                input.form-control-lg(type="text", name="E-mail", placeholder="E-mail")
            div.w-100.pt-3
                input.form-control-lg(type="password", name="Passwort", placeholder="Passwort")
            div.w-100.pt-3
                input.btn-success.btn.btn-lg(type="submit", value="Login")