extends layout-pc

block content
    div
        img(src="/images/schaukel.png" width="700px")
    div.p-3
        div
            h2 Swing broken
            p.lead Our swing is broken. If possible we'd rather have a cool basket swing.
            p.small From: Kasperl, at 7.12.2019

        div.pt-4.pl-4
            h3 Comments:
            div.pb-3.pl-5.pt-2
                h4 Swing can no longer be repaired
                p.lead Please order a replacement.
                p.small From: Directing Company, at 7.12.2019
                form
                    div.w-100.p-0
                        input.form-control-lg(type="text", name="Comment", placeholder="Add Comment")
                        span.pl-3
                            input.btn-success.btn.btn-lg(type="submit", value="Submit")


            div.pb-3.pl-5
                h4 Right!
                p.lead I would also like to have a basket swing
                p.small From: SAPpel, at 7.12.2019
                form
                    div.w-100.p-0
                        input.form-control-lg(type="text", name="Comment", placeholder="Add Comment")
                        span.pl-3
                            input.btn-success.btn.btn-lg(type="submit", value="Submit")

            div.pb-3.pl-5.pt-2
                h4 I saw it too!
                p.lead Would rather have the old one back
                p.small From: Dimpfelmoser, at 7.12.2019
                form
                    div.w-100.p-0
                        input.form-control-lg(type="text", name="Comment", placeholder="Add Comment")
                        span.pl-3
                            input.btn-success.btn.btn-lg(type="submit", value="Submit")


        div.pt-4.pl-4
            h3 Actions:
            div
                button.btn-primary.btn.btn-lg(type="button" data-toggle="modal" data-target="#basicModal") Start voting
                span.pl-3
                    input.btn-primary.btn.btn-lg(type="submit", value="Problem Solved")

    .modal.fade(id="basicModal" tabindex='-1', role='dialog', aria-labelledby='basicModal', aria-hidden='true')
        .modal-dialog.bg-white
            .modal-content
            .modal-header
                h4#myModalLabel.modal-title Voting
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') &times;
            .modal-body
                form
                    div.p-3.w-100
                        input.w-100.form-control-lg(type="text" placeholder="Standard Swing")
                    div.p-3.w-100
                        input.w-100.form-control-lg(type="text" placeholder="Basket Swing")
                    div.p-3.w-100
                        input.w-100.form-control-lg(type="text" placeholder="Both")
            .modal-footer
                button.btn.btn-default(type='button', data-dismiss='modal') Close
                button.btn.btn-primary(type='button') Submit