extends layout

block content
    div.p-3
        h2 Danke für das Anmelden
        form(action="auswahl")
            div.w-100.p-3
                input.btn-primary.btn.btn-lg(type="submit", value="Los gehts!")






